div.container{
  padding: 30px;
  button{

  }

  h2{
    font-size: xx-large;
    text-align: center;
  }

  section{
    padding-top: 50px;
    width: 75%;
    margin: 0 auto;
    article{
      button{
        display:block;
        margin: 0 auto;
      }
    }
  }
}
