<div class="row">
    <div class="columns two">&#8203;</div>
    <nav class="columns eight">
        <h1>Bienvenue sur Benkyoshimasu !</h1>
        <div class="row">
            <button class="button columns four" [routerLink]="['/revisions', 'hiragana']">Revisions</button>
            <p class="columns four">あ Hiragana</p>
            <button class="button columns four" [routerLink]="['/exercices', 'hiragana']">Exercices</button>
        </div>
        <div class="row">
            <button class="button columns four" [routerLink]="['/revisions', 'katakana']">Revisions</button>
            <p class="columns four">ア Katakana</p>
            <button class="button columns four" [routerLink]="['/exercices', 'katakana']">Exercices</button>
        </div>
    </nav>
</div>
